@import "tailwindcss";

@theme {
  --color-primary: #026E47;
  --color-secondary: #F8793E;
  --color-text-white: #F7FEFA;
  --color-ligth-blue: #BDF5F6;
  --color-text-green: #0D6E60;
  --color-nav-brown: #AD9871;
}

/* @layer base {
  html {
    @apply text-[16px];
    @screen md {
      @apply text-[18px];
    }
    -webkit-tap-highlight-color: transparent;
  }
  body {
    @apply bg-gray-50 text-gray-900;
    -webkit-font-smoothing: antialiased;
  }
} */